<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Accueil</a>
      <select class="form-select" aria-label="Default select example">
        <option selected>Choisir votre Catégorie</option>
        <option *ngFor="let categorie of category_list" [value]="categorie.id" class="btn" (click)="redirectToPage('all-produit/' + categorie.name)">
          {{ categorie.name }}
        </option>
      </select>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav ml-auto">
     
            <button class="btn"(click)="redirectToPage('inscription')">Inscription</button>        
            <button class="btn"(click)="redirectToPage('connexion')">Connexion</button>
        
        </ul>
      </div>
    </div>
</nav>

  <div class="bg-success p-5 rounded-lg m-3">
    <h1 class="display-4">Shopinsid</h1>
    <p class="lead">Bienvenue dans votre marketplace.</p>
    <hr class="my-4">
    <img src="assets/img.jpg" alt="">  
  </div>
